<div class="jumbotron">
  <h1>Welcome to the <a href="https://kurstudio.github.io">kurstudio</a> techtalk!</h1>
  <p>This is the sample of a techtalk App.</a></p>
  <a href="https://github.com/kurstudio" class="btn btn-primary btn-lg">view my github.</a>
</div>